<div class="detail" *ngIf="detail.type === 'question'">
    <h3>
        {{detail.header}} 
    </h3>
    <label for="answer">Answer:</label>
    <input type="text" name="answer" placeholder="{{detail.answer}}" [disabled]="true">
    <button type="button" class="btn btn-block">Edit</button>
</div>
<div class="detail" *ngIf="detail.type === 'check'">
    <h3>
        {{detail.header}} 
    </h3>
    <input type="checkbox"  [checked]="detail.checked">
</div>
<div class="detail" *ngIf="detail.type === 'image'">
    <h3>
        {{detail.header}} 
    </h3>
    <img src={{detail.imgLink}} width="400" height="200">
    <label for="answer">Answer:</label>
    <input type="text" name="answer" placeholder="{{detail.answer}}">
    <button type="button" class="btn btn-block">Edit</button>
</div>