<div class="detail">
    <div>
        <h3>
            {{detail.header}} 
            <fa-icon 
                [ngStyle]="{color: 'red'}" 
                [icon]="faTimes"
                (click)="onDelete(detail)">
            </fa-icon>
        </h3>
        
    </div>
    <div *ngIf="detail.type === 'question'">
        <label for="answer">Answer: </label>
        <input type="text" [(ngModel)]="answer" value="{{detail.answer}}" [disabled]="!showEditDetail">
        <button type="button" class="btn btn-block" (click)="toggleEditDetail(detail)">{{editButtonName}}</button>
        <button type="button" class="btn btn-block" (click)="onCancel(detail)" *ngIf="showCancel">Cancel</button>
    </div>
    <div *ngIf="detail.type === 'check'">
        <input type="checkbox"  [checked]="detail.checked">
    </div>
    <div *ngIf="detail.type === 'image'">
        <a href={{detail.imgLink}} target="_blank">
        <img src={{detail.imgLink}}>
        </a>
        <label for="answer">Answer: </label>
        <input type="text" value="{{detail.answer}}" [disabled]="!showEditDetail">
        <button type="button" class="btn btn-block" (click)="toggleEditDetail(detail)">{{editButtonName}}</button>
        <button type="button" class="btn btn-block" (click)="onCancel(detail)" *ngIf="showCancel">Cancel</button>
    </div>
</div>